certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
jwcrypto==0.7
nameparser==1.0.6
openpyxl==3.0.4
psutil==5.7.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.9
