2to3==1.0
amqp==5.0.1
arabic-reshaper==2.1.0
asgiref==3.2.10
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
braintree==4.4.0
bs4==0.0.1
cachetools==4.1.1
cairocffi==1.1.0
CairoSVG==2.5.1
celery==5.0.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorclass==2.2.0
contexttimer==0.3.3
cryptography==3.2.1
cssselect2==0.3.0
defusedxml==0.6.0
Deprecated==1.2.10
Django==3.1.2
django-cal==0.3.0
django-colorfield==0.3.2
django-cors-headers==3.5.0
django-cors-middleware==1.5.0
django-filter==2.4.0
django-fixture-magic==0.1.5
django-ical==1.7.1
django-ipware==3.0.1
django-js-asset==1.2.2
django-json-widget==1.0.1
django-mptt==0.11.0
django-oauth-toolkit==1.3.3
django-picklefield==3.0.1
django-recurrence==1.10.3
django-rocketchat-auth==1.2
djangorestframework==3.12.1
docopt==0.6.2
docxtpl==0.11.1
et-xmlfile==1.0.1
funcsigs==1.0.2
fusepy==3.0.1
future==0.18.2
fuzzywuzzy==0.18.0
geographiclib==1.50
geopy==2.0.0
html2text==2020.1.16
html5lib==1.1
icalendar==4.0.7
idna==2.10
importlib-metadata==2.0.0
inflect==4.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==3.1.0
jwcrypto==0.8
kombu==5.0.2
lxml==4.6.1
Markdown==3.3.3
markdown2==2.3.10
markdownify==0.5.3
MarkupSafe==1.1.1
minecart==0.3.0
more-itertools==8.5.0
nameparser==1.0.6
numpy==1.19.4
oauthlib==3.1.0
openpyxl==3.0.5
openreview-py==1.0.18
ortools==8.0.8283
packaging==20.4
pdfkit==0.6.1
pdfminer3k==1.3.4
Pillow==8.0.1
pip-autoremove==0.9.1
pip-update==0.4.1
pip-upgrade==0.0.6
pip-upgrader==1.4.15
pipdeptree==1.0.0
plotly==4.12.0
ply==3.11
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.7.3
psycopg2-binary==2.8.6
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.9.8
PyJWT==1.7.1
pylatexenc==2.7
-e git://github.com/ojii/pymaging.git@596a08fce5664e58d6e8c96847393fbe987783f2#egg=pymaging
-e git://github.com/ojii/pymaging-png.git@83d85c44e4b2342818e6c068065e031a9f81bb9f#egg=pymaging_png
pymongo==3.11.0
PyMuPDF==1.18.2
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.9.5
pypng==0.0.20
PyQRCode==1.2.1
python-bidi==0.4.2
python-dateutil==2.8.1
python-docx==0.8.10
python-Levenshtein==0.12.0
python-memcached==1.59
pytz==2020.4
PyYAML==5.3.1
qrcode==6.1
redis==3.5.3
reportlab==3.5.54
requests==2.25.0
retrying==1.3.3
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
terminaltables==3.1.0
tinycss2==1.0.2
tld==0.10
tqdm==4.51.0
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.26.2
vine==5.0.0
vobject==0.9.6.1
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.4
XlsxWriter==1.3.7
zipp==3.4.0
