<!doctype html>

<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body style="margin:10px !important">


<p>Dear {{user.firstname}},</p>

    <p>After several emails, we realized there was a small issue with the script to allocate papers to posters, and the
    requested slots for a small number of papers was not incorporated. We have fixed the error and updated the
    allocation, so that now all requested times are given. This does not affect the day you will present on, we kept
    that fixed; it only affects the timezone. We did this in an effort to minimize disruptions to any plans you have
    made to be available on the given day for your poster session. </p>

    <p>For most of you, your poster session has not changed. For several of you, you will now be much happier since your
    requested timezones are now respected. </p>

    <p>Action item: We ask that everyone check the poster sessions for their papers, in case they have changed. </p>

    <p>Thank you once again thank for your patience, and we look forward to seeing you all next week! </p>


    <p>-- ICLR'20 Program Chairs</p>

    

    <table class="table table-sm" border="1" style="border-collapse:collapse; border-style: solid;">
        <tr> <th>Paper ID</th><th>Title</th><th>Slot 1</th><th>Slot 2</th><th>Zoom Login</th></tr>
        {% for paper in papers %}
            <tr>
                <td>{{paper.event.uniqueid}}</td>
                <td><a href="https://iclr.cc/virtual/poster_{{paper.event.uniqueid}}.html">{{paper.event.name}}</a></td>
                {% for zoominfo in paper.zoominfo %}
                    <td>
                        {{zoominfo.day}}<br>{{zoominfo.timezone_choice}} <br>
                        <p><a href="{{zoominfo.join_link}}">Join Link</a></p>
                        <p><a href="{{zoominfo.start_link}}">Start Link</a></p>
                        <p>zoom password: <b>{{zoominfo.password}}</b></p>

                    </td>
                {% endfor %}
                <td><p>zoom username: <br><b>iclrconf+{{paper.event.uniqueid}}@gmail.com</b></p>
                    <p>zoom password: <br><b>dotDevRandom8</b></p>
                </td>
            </tr>

        {% endfor %}
    </table>

    <p>Your zoom session information:</p>
    
    
</body>
</html>

